* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: manrope, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin: 0 101.5px 0;
  padding: 0 15px 0;
  height: 100%;
}

.logo {
  padding: 0 16px 0 12px;
}

.logo img {
  width: 69px;
  height: 50px;
  margin-top: 6px;
}

.navbar-items ul li,
a {
  height: 64px;
  list-style: none;
  text-decoration: none;
}

.nav-item {
  height: 64px;
  display: flex;
  align-items: center;
}

.navbar-items ul {
  height: 64px;
  align-items: center;
  width: 895px;
  display: flex;
  margin-left: 345px;
  color: #0c161b;
}

.nav-link {
  padding: 8px 20px;
  margin-bottom: 3px;
  color: #0c161b;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: 700;
  line-height: 45px;
  height: 64px;
}

.nav-item:hover {
  cursor: pointer;
}

.apply-btn {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.apply-btn-box {
  width: 89px;
  font-size: 0.875rem;
  height: 31px;
  background-color: #1893f7;
  margin: 0 16px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #1893f7;
}

.apply-btn-box:hover {
  background-color: #0069d9;
  cursor: pointer;
}

/* Section 1 Styling */

.section1 {
  padding: 50px 0;
  width: 100%;
  height: 673px;
}

.section1-container {
  height: 573px;
  width: 100%;
  margin: 0 101.5px;
  padding: 0 15px;
}

.section1-content {
  width: 100%;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.section1-left-head {
  font-size: 1.8rem;
  text-align: left;
  color: #000;
  font-weight: 700;
}

.section1-left-box {
  padding: 0 15px;
  width: 540px;
}

.section1-left-bold {
  font-size: 3.6rem;
  font-weight: 600;
  color: rgba(24, 147, 247, 1);
}

.section1-left-top-heading {
  width: 540px;
}

.co-brand-box {
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  color: #1892f7;
  font-family: manrope, sans-serif;
}

.section1-left-img img {
  width: 355px;
  height: auto;
}

.section1-tagline {
  color: #696969;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  padding-top: 24px;
}

.section1-apply-btn {
  width: 175px;
  height: 40px;
  background-color: rgba(0, 147, 247, 1);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1-apply-btn a {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
}

.section1-right-box {
  width: 540px;
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
}

.section1-right-box video {
  width: 100%;
  height: auto;
}

/* Section Styling */
.section2 {
  width: 100%;
  background-color: #000;
  height: 518px;
}

.section2-container {
  height: 100%;
  padding: 0 15px;
  margin: 0 101.5px;
}

.section2-content-box {
  margin: 0 15px;
  padding: 0 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section2-content-box h1 {
  margin: 42.8px 0;
  font-size: 4rem;
  font-weight: 600;
  background-color: red;
  background-image: linear-gradient(
    92deg,
    #217ee6 3%,
    #3187d5 44%,
    #69a798 70%,
    #fcf2a6 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2-sub-heading {
  display: block;
  color: #fff;
  font-size: 3rem;
  line-height: 1.33;
  font-weight: 400;
  text-align: center;
}

/* Section3 Styling */
.section3 {
  width: 100%;
  height: 558px;
  padding: 48px 0 50px 0;
}

.section3-container {
  margin: 0 101.5px;
  padding: 0 15px;
}

.section3-content {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.sectoin3-right-box {
  width: 540px;
  padding: 0 15px;
}

.sectoin3-left-box {
  width: 540px;
  padding: 0 15px;
}

.section3-right-content {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

.section3-right-heading {
  font-size: 3.7rem;
  font-weight: 700;
  color: #000;
  text-align: right;
}

.section3-right-heading span {
  display: block;
  height: 81px;
}

.section3-right-text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #696969;
  font-style: normal;
}

/* Section 4 styling */

.section4 {
  width: 100%;
  height: 608px;
  padding: 48px 0 50px 0;
  background-color: #f2f2f2;
}

.section4-container {
  padding: 0 15px;
  margin: 0 101.5px;
}

.section4-content-box {
  margin: 0 15px;
  display: flex;
}

.section4-left-box {
  width: 540px;
  padding: 0 15px;
}

.section4-left-heading {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: #000;
}

.section4-left-text {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  text-align: left;
  color: #696969;
}

.section4-right-box {
  width: 540px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 5 Styling */
.section5 {
  width: 100%;
  height: 558px;
  padding: 48px 0 50px 0;
}

.section5-container {
  margin: 0 101.5px;
  padding: 0 15px;
}

.section5-content {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.sectoin5-right-box {
  width: 540px;
  padding: 0 15px;
}

.sectoin5-left-box {
  width: 540px;
  padding: 0 15px;
}

.section5-right-content {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

.section5-right-heading {
  line-height: 1.9;
  font-size: 3.7rem;
  font-weight: 700;
  color: #000;
  text-align: right;
}

.section5-right-heading span {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 81px;
}

.section5-right-text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #696969;
  font-style: normal;
}

/* Section 6 styling */

.section6 {
  width: 100%;
  height: 500px;
  padding: 50px 0 50px 0;
  background-color: #f2f2f2;
}

.section6-container {
  padding: 0 15px;
  margin: 0 101.5px;
}

.section6-content-box {
  margin: 0 15px;
  display: flex;
}

.section6-left-box {
  width: 540px;
  padding: 0 15px;
}

.section6-left-heading {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: #000;
}

.section6-left-text {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  text-align: left;
  color: #696969;
}

.section6-right-box {
  width: 540px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.section6-left-heading {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.19;
  text-align: left;
}

.section6-left-heading span {
  display: block;
}

.section6-right-text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #696969;
  font-style: normal;
}

/* Section 7 Styling */

.section7 {
  width: 100%;
  height: 558px;
  padding: 48px 0 50px 0;
}

.section7-container {
  margin: 0 101.5px;
  padding: 0 15px;
}

.section7-content {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.sectoin7-right-box {
  width: 540px;
  padding: 0 15px;
}

.sectoin7-left-box {
  width: 540px;
  padding: 0 15px;
}

.section7-right-content {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

.section7-right-heading {
  line-height: 1.9;
  font-size: 3.7rem;
  font-weight: 700;
  color: #000;
  text-align: right;
}

.section7-right-heading span {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 81px;
}

.section7-right-text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #696969;
  font-style: normal;
}

/* Section 8 styling */

.section8 {
  width: 100%;
  height: 608px;
  padding: 48px 0 50px 0;
  background-color: #f2f2f2;
}

.section8-container {
  padding: 0 15px;
  margin: 0 101.5px;
}

.section8-content-box {
  margin: 0 15px;
  display: flex;
}

.section8-left-box {
  width: 540px;
  padding: 0 15px;
}

.section8-left-heading {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: #000;
}

.section8-left-text {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  text-align: left;
  color: #696969;
  padding-bottom: 16px;
}

.section8-right-box {
  width: 540px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section8-learn-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #217ee6, #2498e3);
  width: 143px;
  height: 43px;
  padding: 7px 5px;
  margin: 8px 0 24px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  text-decoration: none;
}

/* Section 9 Styling */

.section9 {
  width: 100%;
  padding: 50px 0;
}

.section9-container {
  margin: 0 101.5px;
  padding: 0 15px;
}

.section9-heading-box {
  margin: 0 15px;
}

.section9-heading {
  padding: 0 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section9-heading :nth-child(1) {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.31;
  text-align: center;
  color: #000;
}

.section9-heading :nth-child(2) {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.31;
  text-align: center;
  color: rgba(0, 147, 247, 1);
}

.section9-card-container {
  padding: 0 15px;
}

.section-card-heading {
  margin: 0 19px;
  padding: 24px 8px 0;
  display: flex;
  align-items: center;
}

.section-card-heading h4 {
  padding: 20px 0;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

.section9-card-row {
  padding-bottom: 24px;
}

.section9-card-row-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px;
  padding-bottom: 24px;
}

.section9-card1 {
  width: 350px;
  padding: 0 15px;
  height: 276.45px;
}

.section9-card1 a {
  display: block;
  width: 100%;
  height: 167.45px;
}

.section9-card1 img {
  width: 320px;
  height: 167.45px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.section9-card2 {
  width: 350px;
  padding: 0 15px;
  height: 276.45px;
}

.section9-card2 a {
  display: block;
  width: 100%;
  height: 167.45px;
}

.section9-card2 img {
  width: 320px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.section9-card3 {
  width: 350px;
  padding: 0 15px;
  height: 276.45px;
}

.section9-card3 a {
  display: block;
  width: 100%;
  height: 167.45px;
}

.section9-card3 img {
  width: 320px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.section9-card1-content {
  width: 100%;
  height: 109px;
  padding: 16px 0 8px;
}

.section9-card1-date {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #696969;
}

.section9-card1-text p {
  height: 50px;
  width: 100%;
  line-height: 25px;
}

.section9-card2-content {
  width: 100%;
  height: 109px;
  padding: 16px 0 8px;
}

.section9-card2-date {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #696969;
}

.section9-card2-text p {
  height: 50px;
  width: 100%;
  line-height: 25px;
}

.section9-card3-content {
  width: 100%;
  height: 109px;
  padding: 16px 0 8px;
}

.section9-card3-date {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #696969;
}

.section9-card3-text {
  height: 50px;
  width: 100%;
  line-height: 25px;
}

.link-text {
  height: 100% !important;
  display: block;
  color: #646464;
  font-size: 16px;
  text-decoration: none;
  font-weight: 800;
}

.section9-button {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section9-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #217ee6;
  width: 143.25px;
  height: 43px;
  padding: 7px 5px;
  margin-bottom: 24px;
  margin-top: 8px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #216ee6, #2498e3);
  color: #fff;
  outline: none;
  font-style: normal;
  font-stretch: normal;
}

/* Section 10 Styling */

.section10 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 425.09px;
  background-color: #f2f2f2;
  width: 100%;
  padding: 50px 0;
}

.section10-container {
  padding: 0 15px;
  margin: 0 101.5px;
}

.section10-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
}

.section10-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section10-column1 {
  padding: 0 15px;
}

.section10-title-box {
  margin-bottom: 30px;
}

.section10-title {
  padding: 8px 0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.section10-text {
  display: block;
  width: 1050px;
  color: #696969;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: normal;
}

/* Section11 Styling */
.section11 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 462.09px;
  padding: 50px 0;
}

.section11-container {
  padding: 0 15px;
  margin: 0 101.5px;
}

.section11-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  flex-wrap: wrap;
}

.section11-column1 {
  padding: 15px 0;
}

.section11-title-box {
  margin-bottom: 30px;
  text-align: center;
}

.section11-title {
  padding: 8px 0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.section11-text {
  display: block;
  width: 1050px;
  color: #696969;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.33;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: normal;
}

.section11-column {
  width: 360px;
  height: 168.03px;
  padding: 0 15px;
  margin-bottom: 30px;
}

.section11-img {
  max-width: 330px;
  max-height: 138.03px;
  border-radius: 8px;
  overflow: hidden;
  border-radius: 8px;
}

.hover-zoom {
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.hover-zoom:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Footer Styling */
.main-footer {
  background-color: #0c161b;
  padding: 30px 0;
  width: 100%;
  height: 1332.64px;
}

.footer-container {
  width: 100%;
  /* display: flex;
    justify-content: center; */
  padding: 0 15px;
  /* margin: 0 101.5px; */
  height: 515.14px;
  color: #fff;
}

.main-footer-row {
  width: 100%;
  margin: 0 15px;
}

.main-footer-column {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.main-footer-content-box {
  width: 100%;
}

.footer-logo-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 407px;
  height: 64px;
  margin-bottom: 20px;
}

.footer-image {
  display: flex;
  justify-content: center;
}

.footer-heading {
  font-size: 2.18rem;
  font-weight: 800;
  line-height: 1.34;
  color: #0093f7;
  text-align: center;
  height: 93.44px;
}

.footer-text {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.footer-follow-us {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.footer-text br {
  height: 22px;
}

.social-icon {
  width: 44.84px;
  height: 32.64px;
  margin-bottom: 20px;
}

.social-icon-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Second Footer Styling */
.bottom-footer {
  padding-top: 24px;
  width: 100%;
}

.bottom-footer-container {
  color: #fff;
  margin: 0 101.5px;
  padding: 0 15px;
}

.bottom-footer-row {
  display: grid;
  grid-template-columns: 2.5fr 2fr 1fr;
  margin: 16px 15px 0 15px;
  padding-bottom: 16px;
}

.bottom-footer-col1 {
  margin-top: 25px;
}
.bottom-footer-col2 {
  margin-top: 25px;
  margin-left: -30px;
}
.bottom-footer-col3 {
  margin-top: 25px;
  margin-left: -30px;
}

h5 {
  margin: 18px 0 24px 0;
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.bottom-link-text {
  text-decoration: none;
  color: #0093ff;
  font-size: 18px;
  line-height: 25px;
}

.end-box {
  height: 125px;
  padding: 30px 0;
}

.end-img {
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  outline: none;
  background-color: transparent;
  color: #000;
  margin: 20px 0;
}

.end-box2 {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-box2 a {
  width: auto;
  height: auto;
}

.copy-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}
